<!DOCTYPE html>

<html>
    <head>
        <title>{% block head_title %}FilterForm{% endblock head_title %}</title>
        {% include 'base/css.html' %}
    </head>
    <body>
        {% include 'base/navbar.html' with brand_name="FilterForm" %}

        {% if messages %}
            <div class="alert alert-success">
                <div class="container">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>

        {% include 'base/js.html' %}
    </body>
</html>